html,
body {
  height: 100hv;
  margin-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #DCDCDC;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
